terraform {
  backend "s3" {
    bucket     = "XXX"
    key        = "ex1/terraform.tfstate"
    region     = "XXX"
    encrypt    = true
    kms_key_id = "XXX"
    profile    = "XXX"
  }
}

provider "aws" {
  region  = "XXX"
  profile = "XXX"
}
