name: Terraform ex2
on: [push]
jobs:
  create-infra:
    name: Terraform Apply
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infrastructure/pr-module
    env:
    steps:
      - uses: actions/checkout@v2
      - run: echo "::set-env name=TF_VAR_BRANCH_NAME::${{ github.head_ref }}"
